body {
  text-align: center;
  background-color: #011F3F;
}
.startbutton{
  height:50px;
  width:140px;
  background-color: #FEF2BF;
  margin:auto;
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  border-radius: 20px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-image: url("megan.jpg");
  background-size: cover;
  background-position: center;
}

.green {
  background-image: url("kevin.jpg");
  background-size: cover;
  background-position: center;
}

.blue {
  background-image: url("beschi.jpg");
  background-size: cover;
  background-position: center;
}

.yellow {
  background-image: url("madison.jpg");
  background-size: cover;
  background-position: center;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
